In [1]:
import pandas as pd
import numpy as np 
import pm4py
from pm4py.objects.log.importer.xes import importer as xes_importer
from pm4py.objects.conversion.log import converter as log_converter
# name of xes and csv
name = "wrong_logPLG2"
# import xes 
log = xes_importer.apply(name + '.xes')
events = pm4py.get_event_attribute_values(log, 'concept:name')

# convert xes to csv
dataframe = log_converter.apply(log, variant=log_converter.Variants.TO_DATA_FRAME)

#dataframe = pd.read_csv("decline.csv", delimiter = ';')

parsing log, completed traces ::   0%|          | 0/4000 [00:00<?, ?it/s]

In [2]:
#show dataframe //test
dataframe

              concept:name            time:timestamp case:concept:name
0      receive application 1970-01-01 01:00:00+01:00         case_3175
1             confirm GDPR 1970-01-01 02:00:00+01:00         case_3175
2             decline GDPR 1970-01-01 03:00:00+01:00         case_3175
3            ck309pq527593 1970-01-01 03:00:00+01:00         case_3175
4      receive application 1970-01-01 01:00:00+01:00         case_1493
...                    ...                       ...               ...
21988         confirm GDPR 1970-01-01 02:00:00+01:00         case_3610
21989         decline GDPR 1970-01-01 03:00:00+01:00         case_3610
21990  receive application 1970-01-01 01:00:00+01:00          case_610
21991         confirm GDPR 1970-01-01 02:00:00+01:00          case_610
21992         decline GDPR 1970-01-01 03:00:00+01:00          case_610

[21993 rows x 3 columns]

In [3]:
# create new column
dataframe['pName'] = dataframe['case:concept:name']

# create dictionary Trace <=> Name
name_di = ["Peter", "Hans", "Julian", "Kevin"]
di = {}
pi = {}  
cn = {}

for x in events:
    if "/ " in x:
        t1, t2 = x.split("/ ")
        cn[x] = t1 + "/\n" + t2
        
cn ["await answer for interview"]= "await answer\nfor interview"

for i in range(0, len(log)+1):
    x = np.random.randint(99)
    if x <=25:
        di["case_"+ str(i)] = name_di[0]
    elif x <= 50:
        di["case_"+ str(i)] = name_di[1]
    elif x <= 75:
        di["case_"+ str(i)] = name_di[2]
    else :
        di["case_"+ str(i)] = name_di[3]

        


for i in range(0, len(log)+1):
    pi["case_"+ str(i)] = "Trace "+ str(4000+i)

In [4]:
# replace 
dataframe["case:concept:name"] = dataframe["case:concept:name"].replace(pi)
dataframe["concept:name"] = dataframe["concept:name"].replace(cn)
dataframe['pName'] = dataframe['pName'].replace(di)
dataframe.head(5)

          concept:name            time:timestamp case:concept:name   pName
0  receive application 1970-01-01 01:00:00+01:00        Trace 7175   Kevin
1         confirm GDPR 1970-01-01 02:00:00+01:00        Trace 7175   Kevin
2         decline GDPR 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
3        ck309pq527593 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
4  receive application 1970-01-01 01:00:00+01:00        Trace 5493  Julian

In [5]:

dataframe.head(5)
dataframe.head(5)

          concept:name            time:timestamp case:concept:name   pName
0  receive application 1970-01-01 01:00:00+01:00        Trace 7175   Kevin
1         confirm GDPR 1970-01-01 02:00:00+01:00        Trace 7175   Kevin
2         decline GDPR 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
3        ck309pq527593 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
4  receive application 1970-01-01 01:00:00+01:00        Trace 5493  Julian

In [6]:
# save
dataframe.to_csv(name + '.csv',sep = ';')
#dataframe.to_csv('decline1' + '.csv', sep = ';')

In [7]:
# testing purposes
dataframe.head(5)

          concept:name            time:timestamp case:concept:name   pName
0  receive application 1970-01-01 01:00:00+01:00        Trace 7175   Kevin
1         confirm GDPR 1970-01-01 02:00:00+01:00        Trace 7175   Kevin
2         decline GDPR 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
3        ck309pq527593 1970-01-01 03:00:00+01:00        Trace 7175   Kevin
4  receive application 1970-01-01 01:00:00+01:00        Trace 5493  Julian

In [8]:
# rename head names
dataframe.rename(columns={"concept:name": "Name", "org:group": "Group"}).head(2)

                  Name            time:timestamp case:concept:name  pName
0  receive application 1970-01-01 01:00:00+01:00        Trace 7175  Kevin
1         confirm GDPR 1970-01-01 02:00:00+01:00        Trace 7175  Kevin